In [1]:
import numpy as np
import pandas as pd

In [5]:
df= pd.read_csv(r"C:\Users\Rameshwar Agarwal\Desktop\python\assignment 9\College.csv")
df

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,No,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,Yes,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,Yes,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,Yes,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

In [6]:
df.columns

Index(['Private', 'Apps', 'Accept', 'Enroll', 'Top10perc', 'Top25perc',
       'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books',
       'Personal', 'PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni', 'Expend',
       'Grad.Rate'],
      dtype='object')

In [14]:
from sklearn.preprocessing import LabelEncoder 

label = LabelEncoder ()

df['Private'] = label.fit_transform(df['Private'])

df.head()

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,1,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,1,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,1,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,1,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,1,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [15]:
X= df[['Apps', 'Accept', 'Enroll', 'Top10perc', 'Top25perc',
       'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books',
       'Personal', 'PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni', 'Expend',
       'Grad.Rate']]
y= df['Private']

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)

from sklearn.svm import SVC

sv=SVC()

sv.fit(X_train, y_train)

sv_pred = sv.predict(X_test)

from sklearn.metrics import classification_report
print(classification_report(y_test, sv_pred))

              precision    recall  f1-score   support

           0       0.95      0.84      0.89        44
           1       0.94      0.98      0.96       112

    accuracy                           0.94       156
   macro avg       0.94      0.91      0.93       156
weighted avg       0.94      0.94      0.94       156

In [20]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_scale = sc.fit_transform(X)

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_scale, y, test_size = 0.2)

from sklearn.svm import SVC

sv=SVC(kernel = 'linear')

sv.fit(X_train, y_train)

sv_pred = sv.predict(X_test)

from sklearn.metrics import classification_report
print(classification_report(y_test, sv_pred))

              precision    recall  f1-score   support

           0       0.95      0.78      0.86        46
           1       0.92      0.98      0.95       110

    accuracy                           0.92       156
   macro avg       0.93      0.88      0.90       156
weighted avg       0.92      0.92      0.92       156

In [31]:
from sklearn.model_selection import GridSearchCV

clf= GridSearchCV(SVC(gamma='auto'), {
    'C':[1, 10, 20],
    'kernel':['rbf', 'poly']})

clf.fit(X_train, y_train)

clf_predict = clf.predict(X_test)

print(classification_report(y_test, clf_predict))

clf.cv_results_

              precision    recall  f1-score   support

           0       0.95      0.78      0.86        46
           1       0.92      0.98      0.95       110

    accuracy                           0.92       156
   macro avg       0.93      0.88      0.90       156
weighted avg       0.92      0.92      0.92       156

{'mean_fit_time': array([0.04228311, 0.01635523, 0.01476717, 0.01256557, 0.01435637,
        0.01216598]),
 'std_fit_time': array([0.0581802 , 0.0052248 , 0.00386233, 0.00184991, 0.00079312,
        0.00193018]),
 'mean_score_time': array([0.00757842, 0.00419221, 0.00777493, 0.00319633, 0.00678191,
        0.00358725]),
 'std_score_time': array([0.00173763, 0.00074927, 0.00159601, 0.0011666 , 0.00159557,
        0.0013515 ]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'poly', 'rbf', 'poly', 'rbf', 'poly'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'poly'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'poly'},
  {'C': 20, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'poly'}],
 'split0_test_score': array([0.936, 0.896, 0.912, 0.936, 0.912, 0.936]),
 'split1_test_score': array([0.92741935, 0.87096774, 0.91935484, 0.91129032, 0.92741935,
        0.91129032]),
 'split2_test_score': array([0.96774194, 0.92741935, 0.95967742, 0.96774194, 0.93548387,
        0.93548387]),
 'split3_test_score': array([0.93548387, 0.92741935, 0.92741935, 0.91935484, 0.92741935,
        0.94354839]),
 'split4_test_score': array([0.92741935, 0.87096774, 0.92741935, 0.91129032, 0.93548387,
        0.90322581]),
 'mean_test_score': array([0.9388129 , 0.89855484, 0.92917419, 0.92913548, 0.92756129,
        0.92590968]),
 'std_test_score': array([0.0149366 , 0.02527823, 0.01629711, 0.02130793, 0.00857588,
        0.01570279]),
 'rank_test_score': array([1, 6, 2, 3, 4, 5])}

In [33]:
df1 = pd.DataFrame(clf.cv_results_)
df1

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.042283,0.058180,0.007578,0.001738,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.936,0.927419,0.967742,0.935484,0.927419,0.938813,0.014937,1
1,0.016355,0.005225,0.004192,0.000749,1,poly,"{'C': 1, 'kernel': 'poly'}",0.896,0.870968,0.927419,0.927419,0.870968,0.898555,0.025278,6
2,0.014767,0.003862,0.007775,0.001596,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.912,0.919355,0.959677,0.927419,0.927419,0.929174,0.016297,2
3,0.012566,0.001850,0.003196,0.001167,10,poly,"{'C': 10, 'kernel': 'poly'}",0.936,0.911290,0.967742,0.919355,0.911290,0.929135,0.021308,3
4,0.014356,0.000793,0.006782,0.001596,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.912,0.927419,0.935484,0.927419,0.935484,0.927561,0.008576,4
5,0.012166,0.001930,0.003587,0.001351,20,poly,"{'C': 20, 'kernel': 'poly'}",0.936,0.911290,0.935484,0.943548,0.903226,0.925910,0.015703,5

In [34]:
df1.columns

Index(['mean_fit_time', 'std_fit_time', 'mean_score_time', 'std_score_time',
       'param_C', 'param_kernel', 'params', 'split0_test_score',
       'split1_test_score', 'split2_test_score', 'split3_test_score',
       'split4_test_score', 'mean_test_score', 'std_test_score',
       'rank_test_score'],
      dtype='object')

In [35]:
df1[['param_C', 'param_kernel', 'mean_test_score']]

  param_C param_kernel  mean_test_score
0       1          rbf         0.938813
1       1         poly         0.898555
2      10          rbf         0.929174
3      10         poly         0.929135
4      20          rbf         0.927561
5      20         poly         0.925910